@inject Services.IWarehouseService warehouseService
@using Anthurium.API.Dtos
@using Models

<div class="container">
    <div class="row m-2">
        <div class="col"><h3>Warehouse:</h3></div>
        <div class=" col-sm-3 text-right"><a href="/warehouse/create" class="btn btn-primary">New Warehouse</a></div>
    </div>
    @if (warehouseReadDto == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <!--Todo Add search keywords here-->
        <div class="row m-2">
            <div class="col-sm-8">
                <h4>Showing @(skip + 1) - @(Math.Min(skip + ListPrefsProvider.listPrefs.NumResults, matchingCount)) of @matchingCount</h4>
            </div>
            <div class="col-sm-4 text-right">
                <div class="row form-group">
                    <label for="sortBy" class="col-form-label col-form-label-sm col">Sort by:</label>
                    <select id="sortBy" class="form-control form-control-sm" style="width:auto;" @onchange="ChangeOrder">
                        <option value="WarehouseId" selected=@(ListPrefsProvider.listPrefs.OrderBy=="WarehouseId")>ID (Asc)</option>
                        <option value="WarehouseId desc" selected=@(ListPrefsProvider.listPrefs.OrderBy=="WarehouseId Desc")>ID (Desc)</option>
                        <option value="WarehouseName" selected=@(ListPrefsProvider.listPrefs.OrderBy=="WarehouseName")>Warehouse Name (A - Z)</option>
                        <option value="WarehouseName desc" selected=@(ListPrefsProvider.listPrefs.OrderBy=="WarehouseName desc")>Warehouse Name (Z - A)</option>
                        <option value="WarehouseCode" selected=@(ListPrefsProvider.listPrefs.OrderBy=="WarehouseCode")>Warehouse Code (A - Z)</option>
                        <option value="WarehouseCode desc" selected=@(ListPrefsProvider.listPrefs.OrderBy=="WarehouseCode desc")>Warehouse Code (Z - A)</option>

                        <option value="DateCreated" selected=@(ListPrefsProvider.listPrefs.OrderBy=="DateCreated")>Date Created (Asc)</option>
                        <option value="DateCreated Desc" selected=@(ListPrefsProvider.listPrefs.OrderBy=="DateCreated Desc")>Date Created (Desc)</option>
                        <option value="DateUpdated" selected=@(ListPrefsProvider.listPrefs.OrderBy=="DateUpdated")>Date Updated (Asc)</option>
                        <option value="DateUpdated Desc" selected=@(ListPrefsProvider.listPrefs.OrderBy=="DateUpdated Desc")>Date Updated (Desc)</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row  m-2">
            <table class="col-12 table table-hover table-responsive table-striped">
                <caption>List of Warehouse</caption>
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Warehouse Name</th>
                        <th scope="col">Warehouse Code</th>
                        <th scope="col" colspan="3">Operations</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var warehouseReadDtoItem in warehouseReadDto)
                    {
                        <tr>
                            <td scope="row">@warehouseReadDtoItem.WarehouseId</td>
                            <td>@warehouseReadDtoItem.WarehouseName</td>
                            <td>@warehouseReadDtoItem.WarehouseCode</td>
                            <td><a class="btn btn-info btn-sm" href="/warehouse/@warehouseReadDtoItem.WarehouseId">View</a></td>
                            <td><a class="btn btn-secondary btn-sm" href="/warehouse/@warehouseReadDtoItem.WarehouseId/edit">Edit</a></td>
                            <td><a class="btn btn-danger btn-sm" href="/warehouse/@warehouseReadDtoItem.WarehouseId/delete">Delete</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="row m-2">
            <div class="col-sm-8">
                <button @onclick=PreviousPage class="btn btn-sm btn-outline-secondary" disabled=@(skip == 0)>
                    <span class="oi oi-chevron-left" aria-hidden="true"></span> Prev
                </button>

                <span class="btn">Page @((skip / ListPrefsProvider.listPrefs.NumResults) + 1)</span>

                @if (ListPrefsProvider.listPrefs.NumResults + skip < matchingCount)
                {
                    <button @onclick=NextPage class="btn btn-sm btn-outline-secondary">
                        Next <span class="oi oi-chevron-right" aria-hidden="true"></span>
                    </button>
                }
            </div>
            <div class="col-sm-4 text-right">
                <div class="row form-group">
                    <label for="numResults" class="col-form-label col-form-label-sm col">Show:</label>
                    <select id="numResults" class="form-control form-control-sm" style="width:auto;" @onchange="ChangeTop">
                        <option value="10" selected=@(ListPrefsProvider.listPrefs.NumResults==10)>10</option>
                        <option value="25" selected=@(ListPrefsProvider.listPrefs.NumResults==25)>25</option>
                        <option value="50" selected=@(ListPrefsProvider.listPrefs.NumResults==50)>50</option>
                    </select>
                </div>
            </div>
        </div>
    }
</div>

@code {
    private List<WarehouseReadDto> warehouseReadDto;
    private int matchingCount;

    [CascadingParameter]
    private WarehouseListParent ListPrefsProvider { get; set; }

    private int skip = 0;


    private async Task FetchListAsync()
    {
        var response = await warehouseService.GetWarehousesAsync(ListPrefsProvider.listPrefs.OrderBy, skip, ListPrefsProvider.listPrefs.NumResults);
        matchingCount = response.Count;
        if (matchingCount == 0)
        {
            warehouseReadDto = null;
        }
        else
        {
            warehouseReadDto = response.Warehouse;

        }



    }

    protected override async Task OnInitializedAsync()
    {
        await FetchListAsync();
    }

    private async Task ChangeOrder(ChangeEventArgs e)
    {
        ListPrefsProvider.listPrefs.OrderBy = e.Value.ToString();
        await ListPrefsProvider.SavePrefsAsync();
        skip = 0; //back to first page
        await FetchListAsync();
    }

    private async Task ChangeTop(ChangeEventArgs e)
    {
        ListPrefsProvider.listPrefs.NumResults = int.Parse(e.Value.ToString());
        await ListPrefsProvider.SavePrefsAsync();
        skip = 0; //back to first page
        await FetchListAsync();
    }

    private async Task PreviousPage()
    {
        skip -= ListPrefsProvider.listPrefs.NumResults;
        await FetchListAsync();
    }

    private async Task NextPage()
    {
        skip += ListPrefsProvider.listPrefs.NumResults;
        await FetchListAsync();
    }
}
