@inject Services.JobOrderService jobOrderService
@using Anthurium.API.Dtos
@using Models

<div class="container">
    <div class="row m-2">
        <div class="offset-md-9 col-sm-3 text-right"><a href="/joborder/create" class="btn btn-primary">New Job Order</a></div>
    </div>
    @if (jobOrderReadDto == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <div class="row m-2">
            <div class="col-sm-8">
                <h4>Showing @(skip + 1) - @(Math.Min(skip + ListPrefsProvider.listPrefs.NumResults, matchingCount)) of @matchingCount</h4>
            </div>
            <div class="col-sm-4 text-right">
                <div class="row form-group">
                    <label for="sortBy" class="col-form-label col-form-label-sm col">Sort by:</label>
                    <select id="sortBy" class="form-control form-control-sm" style="width:auto;" @onchange="ChangeOrder">
                        <option value="JobOrderId" selected=@(ListPrefsProvider.listPrefs.OrderBy=="JobOrderId")>ID</option>
                        <option value="CompanyName" selected=@(ListPrefsProvider.listPrefs.OrderBy=="CompanyName")>Company Name (A - Z)</option>
                        <option value="ContactPerson" selected=@(ListPrefsProvider.listPrefs.OrderBy=="ContactPerson")>Contact Person (A - A)</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row m-2">
            <table class="col-12 table table-hover table-responsive">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Company Name</th>
                        <th>Company Address</th>
                        <th>Person</th>
                        <th>Number</th>
                        <th>Time Start</th>
                        <th>Time End</th>
                        <th>Total Hours</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var jobOrderReadDtoItem in jobOrderReadDto)
                    {
                    <tr>
                        <td>@jobOrderReadDtoItem.JobOrderId</td>
                        <td><a href="/joborder/@jobOrderReadDtoItem.JobOrderId">@jobOrderReadDtoItem.CompanyName</a></td>
                        <td>@jobOrderReadDtoItem.CompanyAddress</td>
                        <td>@jobOrderReadDtoItem.ContactPerson</td>
                        <td>@jobOrderReadDtoItem.ContactNumber</td>
                        <td>@jobOrderReadDtoItem.TimeStarted</td>
                        <td>@jobOrderReadDtoItem.TimeEnded</td>
                        <td>@jobOrderReadDtoItem.TotalHours</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="row m-2">
            <div class="col-sm-8">
                <button @onclick=PreviousPage class="btn btn-sm btn-outline-secondary" disabled=@(skip == 0)>
                    <span class="oi oi-chevron-left" aria-hidden="true"></span> Prev
                </button>

                <span class="btn">Page @((skip / ListPrefsProvider.listPrefs.NumResults) + 1)</span>

                @if (ListPrefsProvider.listPrefs.NumResults + skip < matchingCount)
                {
                    <button @onclick=NextPage class="btn btn-sm btn-outline-secondary">
                        Next <span class="oi oi-chevron-right" aria-hidden="true"></span>
                    </button>
                }
            </div>
            <div class="col-sm-4 text-right">
                <div class="row form-group">
                    <label for="numResults" class="col-form-label col-form-label-sm col">Show:</label>
                    <select id="numResults" class="form-control form-control-sm" style="width:auto;" @onchange="ChangeTop">
                        <option value="10" selected=@(ListPrefsProvider.listPrefs.NumResults==10)>10</option>
                        <option value="25" selected=@(ListPrefsProvider.listPrefs.NumResults==25)>25</option>
                        <option value="50" selected=@(ListPrefsProvider.listPrefs.NumResults==50)>50</option>
                    </select>
                </div>
            </div>
        </div>
    }
</div>

@code {
    private List<JobOrderReadDto> jobOrderReadDto;
    private int matchingCount;

    [CascadingParameter]
    private JobOrderListParent ListPrefsProvider { get; set; }

    private int skip = 0;


    private async Task FetchListAsync()
    {
        var response = await jobOrderService.GetJobOrdersAsync(ListPrefsProvider.listPrefs.OrderBy, skip, ListPrefsProvider.listPrefs.NumResults);
        jobOrderReadDto = response.JobOrder;
        matchingCount = response.Count;
    }

    protected override async Task OnInitializedAsync()
    {
        await FetchListAsync();
    }

    private async Task ChangeOrder(ChangeEventArgs e)
    {
        ListPrefsProvider.listPrefs.OrderBy = e.Value.ToString();
        await ListPrefsProvider.SavePrefsAsync();
        skip = 0; //back to first page
        await FetchListAsync();
    }

    private async Task ChangeTop(ChangeEventArgs e)
    {
        ListPrefsProvider.listPrefs.NumResults = int.Parse(e.Value.ToString());
        await ListPrefsProvider.SavePrefsAsync();
        skip = 0; //back to first page
        await FetchListAsync();
    }

    private async Task PreviousPage()
    {
        skip -= ListPrefsProvider.listPrefs.NumResults;
        await FetchListAsync();
    }

    private async Task NextPage()
    {
        skip += ListPrefsProvider.listPrefs.NumResults;
        await FetchListAsync();
    }
}
