@page "/joborder/{Id:int}"
@inject Services.JobOrderService jobOrderService
@using Anthurium.API.Dtos

<h4>Client Information Id: @Id.ToString()</h4>

@if (jobOrderReadDto == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-sm-8 text-right">
            <a href="/joborder/@Id/edit" class="btn btn-sm btn-secondary">Edit</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h4>@jobOrderReadDto.CompanyName</h4>
            <h4>@jobOrderReadDto.CompanyAddress</h4>
            <h4>@jobOrderReadDto.ContactPerson</h4>
            <h4>@jobOrderReadDto.ContactNumber</h4>
            <h4>@jobOrderReadDto.TimeStarted</h4>
            <h4>@jobOrderReadDto.TimeEnded</h4>
            <h4>@jobOrderReadDto.TotalHours</h4>
        </div>
    </div>
    <div class="row" style="margin-top:1rem;">
        <div class="col-12">
    
            <a class="btn btn-primary active btn-sm " role="button" aria-pressed="true" href="/clientinformation">Return to List</a>
        </div>
    </div>
}

@code {
    [Parameter]
    public int Id { get; set; }

    private JobOrderReadDto jobOrderReadDto;

    protected override async Task OnInitializedAsync()
    {
        jobOrderReadDto = await jobOrderService.GetJobOrderByIdAsync(Id);
    }
}
