@page "/joborder/{Id:int}"
@inject Services.JobOrderService jobOrderService
@using Anthurium.API.Dtos

<h4>Job Order Id: @Id.ToString()</h4>

@if (jobOrderReadDto == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row m-2">

        <div class="offset-md-9 col-sm-3 text-right"><a href="/clientinformation/@Id" class="btn btn-secondary">View Transactions</a></div>
    </div>
    <div class="row m-2">
        <table class="col-12 table table-hover table-responsive table-striped">
            <caption>Client Id: @Id.ToString()</caption>
            <thead>

                <tr>
                    <th scope="col">Record Type</th>
                    <th scope="col">Record Info</th>
                </tr>


            </thead>
            <tbody>
                <tr>
                    <th scope="row">Id</th>
                    <td>@jobOrderReadDto.ClientInformationId</td>
                </tr>
                <tr>
                    <th class="info">Company Name</th>
                    <td>@jobOrderReadDto.CompanyName</td>
                </tr>
                <tr>
                    <th class="info">Company Address</th>
                    <td>@jobOrderReadDto.CompanyAddress</td>
                </tr>
                <tr>
                    <th class="info">Company Address</th>
                    <td>@jobOrderReadDto.ContactPerson</td>
                </tr>
                <tr>
                    <th class="info">Company Address</th>
                    <td>@jobOrderReadDto.ContactNumber</td>
                </tr>
                <tr>
                    <th class="info">Company Address</th>
                    <td>@jobOrderReadDto.TimeStarted</td>
                </tr>
                <tr>
                    <th class="info">Company Address</th>
                    <td>@jobOrderReadDto.TimeEnded</td>
                </tr>
                <tr>
                    <th class="info">Company Address</th>
                    <td>@jobOrderReadDto.TotalHours</td>
                </tr>
                <tr>
                    <th class="info">Date Updated</th>
                    <td>@jobOrderReadDto.DateCreated</td>
                </tr>
                <tr>
                    <th class="info">Date Created</th>
                    <td>@jobOrderReadDto.DateUpdated</td>
                </tr>
            </tbody>


        </table>
    </div>
    <div class="row m-2" style="margin-top:1rem;">
        <div class="col-12">

            <a class="btn btn-primary active btn-sm " role="button" aria-pressed="true" href="/clientinformation">Return to List</a>
        </div>
    </div>
}

@code {
    [Parameter]
    public int Id { get; set; }

    private JobOrderReadDto jobOrderReadDto;

    protected override async Task OnInitializedAsync()
    {
        jobOrderReadDto = await jobOrderService.GetJobOrderByIdAsync(Id);
    }
}
