@inject Services.IJobQuotationDetailsDetails jobQuotationDetails
@using Anthurium.API.Dtos
@using Models

<div class="container card shadow mb-4 animated--grow-in">

    @if (jobQuotationDetailsReadDto == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <!--Todo Add search keywords here-->
        <div class="row m-2">
            <div class="col-sm-8">
                <h4>Showing @(skip + 1) - @(Math.Min(skip + ListPrefsProvider.listPrefs.NumResults, matchingCount)) of @matchingCount</h4>
            </div>
            <div class="col-sm-4 text-right">
                <div class="row form-group">
                    <label for="sortBy" class="col-form-label col-form-label-sm col">Sort by:</label>
                    <select id="sortBy" class="form-control form-control-sm" style="width:auto;" @onchange="ChangeOrder">
                        <option value="JobQuotationDetailsId" selected=@(ListPrefsProvider.listPrefs.OrderBy=="JobQuotationDetailsId")>ID (Asc)</option>
                        <option value="JobQuotationDetailsId desc" selected=@(ListPrefsProvider.listPrefs.OrderBy=="JobQuotationDetailsId Desc")>ID (Desc)</option>
                        <option value="ItemName" selected=@(ListPrefsProvider.listPrefs.OrderBy=="ItemName")>Item Name (A - Z)</option>
                        <option value="ItemName Desc" selected=@(ListPrefsProvider.listPrefs.OrderBy=="ItemName Desc")>Item Name (Z - A)</option>
                        <option value="MarginPrice" selected=@(ListPrefsProvider.listPrefs.OrderBy=="MarginPrice")>Margin Price (Asc)</option>
                        <option value="MarginPrice Desc" selected=@(ListPrefsProvider.listPrefs.OrderBy=="MarginPrice Desc")>Margin Price (Desc)</option>
                        <option value="OriginalPrice" selected=@(ListPrefsProvider.listPrefs.OrderBy=="OriginalPrice")>Original Price (Asc)</option>
                        <option value="OriginalPrice Desc" selected=@(ListPrefsProvider.listPrefs.OrderBy=="OriginalPrice Desc")>Original Price (Desc)</option>
                        <option value="SellingPrice" selected=@(ListPrefsProvider.listPrefs.OrderBy=="SellingPrice")>Selling Price (Asc)</option>
                        <option value="SellingPrice Desc" selected=@(ListPrefsProvider.listPrefs.OrderBy=="SellingPrice Desc")>Selling Price (Desc)</option>

                        <option value="Quantity" selected=@(ListPrefsProvider.listPrefs.OrderBy=="Cost")>Quantity (Asc)</option>
                        <option value="Quantity Desc" selected=@(ListPrefsProvider.listPrefs.OrderBy=="Cost Desc")>Quantity (Desc)</option>
                        <option value="TotalCost" selected=@(ListPrefsProvider.listPrefs.OrderBy=="TotalCost")>TotalCost (Asc)</option>
                        <option value="TotalCost Desc" selected=@(ListPrefsProvider.listPrefs.OrderBy=="TotalCost Desc")>TotalCost (Desc)</option>
                        <option value="DateCreated" selected=@(ListPrefsProvider.listPrefs.OrderBy=="DateCreated")>Date Created (Asc)</option>
                        <option value="DateCreated Desc" selected=@(ListPrefsProvider.listPrefs.OrderBy=="DateCreated Desc")>Date Created (Desc)</option>
                        <option value="DateUpdated" selected=@(ListPrefsProvider.listPrefs.OrderBy=="DateUpdated")>Date Updated (Asc)</option>
                        <option value="DateUpdated Desc" selected=@(ListPrefsProvider.listPrefs.OrderBy=="DateUpdated Desc")>Date Updated (Desc)</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row  m-2">
            <table class="col-12 table table-borderless table-sm dataTable w-100">
                <caption>List of Quotation Details</caption>
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Item Name</th>
                        <th scope="col">Margin Price</th>
                        <th scope="col">Original Price</th>
                        <th scope="col">Selling Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total Cost</th>
                        <th scope="col">Date Created</th>
                        <th scope="col">Date Updated</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var jobQuotationDetailsReadDtoItem in jobQuotationDetailsReadDto)
                    {
                        <tr>
                            <td scope="row">@jobQuotationDetailsReadDtoItem.JobQuotationDetailsId</td>
                            <td>@jobQuotationDetailsReadDtoItem.ItemName</td>
                            <td>@jobQuotationDetailsReadDtoItem.MarginPrice</td>
                            <td>@jobQuotationDetailsReadDtoItem.OriginalPrice</td>
                            <td>@jobQuotationDetailsReadDtoItem.SellingPrice</td>
                            <td>@jobQuotationDetailsReadDtoItem.Quantity</td>
                            <td>@jobQuotationDetailsReadDtoItem.TotalCost</td>
                            <td>@jobQuotationDetailsReadDtoItem.DateCreated</td>
                            <td>@jobQuotationDetailsReadDtoItem.DateUpdated</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="row m-2">
            <div class="col-sm-8">
                <button @onclick=PreviousPage class="btn btn-sm btn-outline-secondary" disabled=@(skip == 0)>
                    <span class="oi oi-chevron-left" aria-hidden="true"></span> Prev
                </button>

                <span class="btn">Page @((skip / ListPrefsProvider.listPrefs.NumResults) + 1)</span>

                @if (ListPrefsProvider.listPrefs.NumResults + skip < matchingCount)
                {
                    <button @onclick=NextPage class="btn btn-sm btn-outline-secondary">
                        Next <span class="oi oi-chevron-right" aria-hidden="true"></span>
                    </button>
                }
            </div>
            <div class="col-sm-4 text-right">
                <div class="row form-group">
                    <label for="numResults" class="col-form-label col-form-label-sm col">Show:</label>
                    <select id="numResults" class="form-control form-control-sm" style="width:auto;" @onchange="ChangeTop">
                        <option value="10" selected=@(ListPrefsProvider.listPrefs.NumResults==10)>10</option>
                        <option value="25" selected=@(ListPrefsProvider.listPrefs.NumResults==25)>25</option>
                        <option value="50" selected=@(ListPrefsProvider.listPrefs.NumResults==50)>50</option>
                    </select>
                </div>
            </div>
        </div>
    }
</div>

@code {
    private List<JobQuotationDetailsReadDto> jobQuotationDetailsReadDto;
    private int matchingCount;

    [CascadingParameter]
    private JobQuotationDetailsListParent ListPrefsProvider { get; set; }

    [Parameter] public int JobQuotationDetailsId { get; set; }

    private int skip = 0;


    private async Task FetchListAsync()
    {
        var response = await jobQuotationDetails.JobQuotationDetailsByJobOrder(ListPrefsProvider.listPrefs.OrderBy, skip, ListPrefsProvider.listPrefs.NumResults, JobQuotationDetailsId);
        jobQuotationDetailsReadDto = response.JobQuotationDetailsApi;
        matchingCount = response.Count;
    }

    protected override async Task OnInitializedAsync()
    {
        await FetchListAsync();
    }

    private async Task ChangeOrder(ChangeEventArgs e)
    {
        ListPrefsProvider.listPrefs.OrderBy = e.Value.ToString();
        await ListPrefsProvider.SavePrefsAsync();
        skip = 0; //back to first page
        await FetchListAsync();
    }

    private async Task ChangeTop(ChangeEventArgs e)
    {
        ListPrefsProvider.listPrefs.NumResults = int.Parse(e.Value.ToString());
        await ListPrefsProvider.SavePrefsAsync();
        skip = 0; //back to first page
        await FetchListAsync();
    }

    private async Task PreviousPage()
    {
        skip -= ListPrefsProvider.listPrefs.NumResults;
        await FetchListAsync();
    }

    private async Task NextPage()
    {
        skip += ListPrefsProvider.listPrefs.NumResults;
        await FetchListAsync();
    }
}
