@inject Services.JobQuotationService jobQuotationService
@using Anthurium.API.Dtos
@using Models

<div class="container">
    <div class="row m-2">
        <div class="col"><h3>Job Quotation:</h3></div>
        <div class=" col-sm-3 text-right"><a href="/jobquotation/create" class="btn btn-primary">New JobQuotation</a></div>
    </div>
    @if (jobQuotationReadDto == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <!--Todo Add search keywords here-->
        <div class="row m-2">
            <div class="col-sm-8">
                <h4>Showing @(skip + 1) - @(Math.Min(skip + ListPrefsProvider.listPrefs.NumResults, matchingCount)) of @matchingCount</h4>
            </div>
            <div class="col-sm-4 text-right">
                <div class="row form-group">
                    <label for="sortBy" class="col-form-label col-form-label-sm col">Sort by:</label>
                    <select id="sortBy" class="form-control form-control-sm" style="width:auto;" @onchange="ChangeOrder">
                        <option value="JobQuotationId" selected=@(ListPrefsProvider.listPrefs.OrderBy=="JobQuotationId")>ID</option>
                        <option value="JobQuotationId Desc" selected=@(ListPrefsProvider.listPrefs.OrderBy=="JobQuotationId Desc")>ID</option>
                        <option value="CompanyName" selected=@(ListPrefsProvider.listPrefs.OrderBy=="CompanyName")>Company Name (A - Z)</option>
                        <option value="CompanyName Desc" selected=@(ListPrefsProvider.listPrefs.OrderBy=="CompanyName Desc")>Company Name (Z - A)</option>
                        <option value="CompanyAddress" selected=@(ListPrefsProvider.listPrefs.OrderBy=="CompanyAddress")>Company Address (A - Z)</option>
                        <option value="CompanyAddress Desc" selected=@(ListPrefsProvider.listPrefs.OrderBy=="CompanyAddress Desc")>Company Address (Z - A)</option>
                        <option value="ContactPerson" selected=@(ListPrefsProvider.listPrefs.OrderBy=="ContactPerson")>Contact Person (A - Z)</option>
                        <option value="ContactPerson Desc" selected=@(ListPrefsProvider.listPrefs.OrderBy=="ContactPerson Desc")>Contact Person (Z - A)</option>
                        <option value="ContactNumber" selected=@(ListPrefsProvider.listPrefs.OrderBy=="ContactNumber")>Contact Number (A - Z)</option>
                        <option value="ContactNumber Desc" selected=@(ListPrefsProvider.listPrefs.OrderBy=="ContactNumber Desc")>Contact Number (Z - A)</option>
                        <option value="OverallCost" selected=@(ListPrefsProvider.listPrefs.OrderBy=="OverallCost")>OverallCost (Asc)</option>
                        <option value="OverallCost Desc" selected=@(ListPrefsProvider.listPrefs.OrderBy=="OverallCost Desc")>OverallCost (Desc)</option>
                        <option value="Description" selected=@(ListPrefsProvider.listPrefs.OrderBy=="Description")>Description (A - Z)</option>
                        <option value="Description Desc" selected=@(ListPrefsProvider.listPrefs.OrderBy=="Description Desc")>Description (Z - A)</option>
                        <option value="DateCreated" selected=@(ListPrefsProvider.listPrefs.OrderBy=="DateCreated")>Date Created (Asc)</option>
                        <option value="DateCreated Desc" selected=@(ListPrefsProvider.listPrefs.OrderBy=="DateCreated Desc")>Date Created (Desc)</option>
                        <option value="DateUpdated" selected=@(ListPrefsProvider.listPrefs.OrderBy=="DateUpdated")>Date Updated (Asc)</option>
                        <option value="DateUpdated Desc" selected=@(ListPrefsProvider.listPrefs.OrderBy=="DateUpdated Desc")>Date Updated (Desc)</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row  m-2">
            <table class="col-12 table table-hover table-responsive table-striped">
                <caption>List of Job Quotations</caption>
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Company Name</th>
                        <th scope="col">Company Address</th>
                        <th scope="col">Description</th>
                        <th scope="col">Overall Cost</th>
                        <th scope="col">DateCreated</th>
                        <th scope="col" colspan="3">Operations</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var jobQuotationReadDtoItem in jobQuotationReadDto)
                    {
                        <tr>
                            <td scope="row">@jobQuotationReadDtoItem.JobQuotationId</td>
                            <td>@jobQuotationReadDtoItem.CompanyName</td>
                            <td>@jobQuotationReadDtoItem.CompanyAddress</td>
                            <td>@jobQuotationReadDtoItem.Description</td>
                            <td>@jobQuotationReadDtoItem.OverallCost</td>
                            <td>@jobQuotationReadDtoItem.DateCreated</td>
                            <td><a class="btn btn-info btn-sm" href="/jobquotation/@jobQuotationReadDtoItem.JobQuotationId">View</a></td>
                            <td><a class="btn btn-secondary btn-sm" href="/jobquotation/@jobQuotationReadDtoItem.JobQuotationId/edit">Edit</a></td>
                            <td><a class="btn btn-danger btn-sm" href="/jobquotation/@jobQuotationReadDtoItem.JobQuotationId/delete">Delete</a></td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="row m-2">
            <div class="col-sm-8">
                <button @onclick=PreviousPage class="btn btn-sm btn-outline-secondary" disabled=@(skip == 0)>
                    <span class="oi oi-chevron-left" aria-hidden="true"></span> Prev
                </button>

                <span class="btn">Page @((skip / ListPrefsProvider.listPrefs.NumResults) + 1)</span>

                @if (ListPrefsProvider.listPrefs.NumResults + skip < matchingCount)
                {
                    <button @onclick=NextPage class="btn btn-sm btn-outline-secondary">
                        Next <span class="oi oi-chevron-right" aria-hidden="true"></span>
                    </button>
                }
            </div>
            <div class="col-sm-4 text-right">
                <div class="row form-group">
                    <label for="numResults" class="col-form-label col-form-label-sm col">Show:</label>
                    <select id="numResults" class="form-control form-control-sm" style="width:auto;" @onchange="ChangeTop">
                        <option value="10" selected=@(ListPrefsProvider.listPrefs.NumResults==10)>10</option>
                        <option value="25" selected=@(ListPrefsProvider.listPrefs.NumResults==25)>25</option>
                        <option value="50" selected=@(ListPrefsProvider.listPrefs.NumResults==50)>50</option>
                    </select>
                </div>
            </div>
        </div>
    }
</div>

@code {
    private List<JobQuotationReadDto> jobQuotationReadDto;
    private int matchingCount;

    [CascadingParameter]
    private JobQuotationListParent ListPrefsProvider { get; set; }

    private int skip = 0;


    private async Task FetchListAsync()
    {
        var response = await jobQuotationService.GetJobQuotationsAsync(ListPrefsProvider.listPrefs.OrderBy, skip, ListPrefsProvider.listPrefs.NumResults);
        jobQuotationReadDto = response.JobQuotationApi;
        matchingCount = response.Count;
    }

    protected override async Task OnInitializedAsync()
    {
        await FetchListAsync();
    }

    private async Task ChangeOrder(ChangeEventArgs e)
    {
        ListPrefsProvider.listPrefs.OrderBy = e.Value.ToString();
        await ListPrefsProvider.SavePrefsAsync();
        skip = 0; //back to first page
        await FetchListAsync();
    }

    private async Task ChangeTop(ChangeEventArgs e)
    {
        ListPrefsProvider.listPrefs.NumResults = int.Parse(e.Value.ToString());
        await ListPrefsProvider.SavePrefsAsync();
        skip = 0; //back to first page
        await FetchListAsync();
    }

    private async Task PreviousPage()
    {
        skip -= ListPrefsProvider.listPrefs.NumResults;
        await FetchListAsync();
    }

    private async Task NextPage()
    {
        skip += ListPrefsProvider.listPrefs.NumResults;
        await FetchListAsync();
    }
}
