@page "/clientinformation/{Id:int}"
@inject Services.ClientInformationService clientInformationService
@using Anthurium.API.Dtos
@using Anthurium.Web.Pages.JobOrders
@using Anthurium.Web.Pages.JobQuotes

<h3>Client Id: @Id.ToString()</h3>

@if (clientInformationReadDto == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <div class="row m-2">



        <table class="col-12 table table-hover table-responsive table-striped">
            <caption>Client Id: @Id.ToString()</caption>
            <thead>

                <tr>
                    <th scope="col">Record Type</th>
                    <th scope="col">Record Info</th>
                </tr>


            </thead>
            <tbody>
                <tr>
                    <th scope="row">Id</th>
                    <td>@clientInformationReadDto.ClientInformationId</td>
                </tr>
                <tr>
                    <th class="info">Company Name</th>
                    <td>@clientInformationReadDto.CompanyName</td>
                </tr>
                <tr>
                    <th class="info">Company Address</th>
                    <td>@clientInformationReadDto.CompanyAddress</td>
                </tr>
                <tr>
                    <th class="info">Date Updated</th>
                    <td>@clientInformationReadDto.DateCreated</td>
                </tr>
                <tr>
                    <th class="info">Date Created</th>
                    <td>@clientInformationReadDto.DateUpdated</td>
                </tr>
            </tbody>


        </table>

    </div>
    <div class="row m-2" style="margin-top:1rem;">
        <div class="col-12">

            <a class="btn btn-primary active btn-sm " role="button" aria-pressed="true" href="/clientinformation">Return to List</a>
        </div>
    </div>
    <div class="row m-2">
        <JobOrderListParent>
            <JobOrderListByClient ClientInformationId="Id" />
        </JobOrderListParent>
    </div>
    <div class="row m-2">
        <JobQuotationListParent>
            <jobQ ClientInformationId="Id" />
        </JobQuotationListParent>
    </div>

}

@code {
    [Parameter]
    public int Id { get; set; }

    private ClientInformationReadDto clientInformationReadDto;

    protected override async Task OnInitializedAsync()
    {
        clientInformationReadDto = await clientInformationService.GetClientInformationByIdAsync(Id);
    }
}
