@page "/jobquotation/{Id:int}"
@inject Services.JobQuotationService jobQuotation
@using Anthurium.API.Dtos

<h3>Client Id: @Id.ToString()</h3>

@if (jobOrderReadDto == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-sm-8 text-right">
            <a href="/jobquotation/@Id/edit" class="btn btn-sm btn-secondary">Edit</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h4>@jobOrderReadDto.CompanyName</h4>
            <h4>@jobOrderReadDto.CompanyAddress</h4>
            <h4>@jobOrderReadDto.Description</h4>
            <h4>@jobOrderReadDto.OverallCost</h4>
            <h4>@jobOrderReadDto.DateCreated</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a href="/jobquotation">Return to List</a>
        </div>
    </div>
}

@code {
    [Parameter]
    public int Id { get; set; }

    private JobQuotationReadDto jobOrderReadDto;

    protected override async Task OnInitializedAsync()
    {
        jobOrderReadDto = await jobQuotation.GetJobQuotationByIdAsync(Id);
    }
}
