@page "/joborder/{Id:int}/edit"
@inject Services.JobOrderService jobOrderService
@inject Services.ClientInformationService clientInformationService
@using AutoMapper;
@inject IMapper _mapper;
@using System.Text.Json;
@using Anthurium.API.Dtos
@inject IToastService toastService
@inject NavigationManager NavManager

<h3>Edit Job Order</h3>
@if (jobOrderReadDto == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row m-2">

        <div class="offset-sm-9 col-sm-3 text-right"> <a class="btn btn-primary active btn-sm " role="button" aria-pressed="true" href="/joborder">Return to List</a></div>
    </div>
    <div class="row m-2">
        <EditForm Model="@jobOrderUpdateDto" OnValidSubmit="@UpdateJobOrder">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="form-group row">
                <label for="clientInfomrationId" class="col-sm-6 col-form-label">Client Info:</label>
                <select id="clientInfomrationId" class="form-control selectpicker" value="@jobOrderUpdateDto.ClientInformationId" @onchange="ChangeOrder">
                    <option>--select--</option>
                    @foreach (var item in clientInformationReadDto)
                    {
                        <option value="@item.ClientInformationId">@item.CompanyName</option>
                        // Blazor needs to know what values it binds to!
                    }
                </select>
            </div>
            <div class="form-group row">
                <label for="companyName" class="col-sm-6 col-form-label">Company Name:</label>
                <input id="companyName" class="form-control col-sm-6 input-lg" type="text" disabled="disabled"
                       @bind="jobOrderUpdateDto.CompanyName" />
            </div>
            <div class="form-group row">
                <label for="companyAddress" class="col-sm-6 col-form-label">Company Address:</label>
                <input id="companyAddress" class="form-control col-sm-6 input-lg" type="text" disabled="disabled"
                       @bind="jobOrderUpdateDto.CompanyAddress" />
            </div>


            <div class="form-group row">
                <label for="jobOrderContactPerson" class="col-sm-6 col-form-label">Contact Person:</label>
                <input id="jobOrderContactPerson" class="form-control col-sm-6 input-lg" type="text" disabled="@isSuccess"
                       @bind="jobOrderUpdateDto.ContactPerson" placeholder="Contact Person" />
            </div>
            <div class="form-group row">
                <label for="jobOrderContactNumber" class="col-sm-6 col-form-label">Contact Number:</label>
                <input id="jobOrderContactNumber" class="form-control col-sm-6 input-lg" type="text" disabled="@isSuccess"
                       @bind="jobOrderUpdateDto.ContactNumber" placeholder="Contact Number" />
            </div>

            <div class="form-group row">
                <label for="jobOrderTimeStarted" class="col-sm-6 col-form-label">Contact Timestarted:</label>
                <input id="jobOrderTimeStarted" class="form-control col-sm-6 input-lg" type="time" disabled="@isSuccess"
                       @bind="jobOrderUpdateDto.TimeStarted" />
            </div>

            <div class="form-group row">
                <label for="jobOrderTimeEnded" class="col-sm-6 col-form-label">Contact TimeEnded:</label>
                <input id="jobOrderTimeEnded" class="form-control col-sm-6 input-lg" type="time" disabled="@isSuccess"
                       @bind="jobOrderUpdateDto.TimeEnded" />
            </div>

            <div class="form-group row">
                <label for="jobOrdeTotalHours" class="col-sm-6 col-form-label">Contact Number:</label>
                <input id="jobOrderTotalHours" class="form-control col-sm-6 input-lg" type="number" disabled="@isSuccess"
                       @bind="jobOrderUpdateDto.TotalHours" />
            </div>
            <button class="btn btn-primary" type="submit" disabled="@isSuccess">Submit</button>
            <div class="alert @(isSuccess?"alert-success":"alert-danger")" style="margin-top:1rem" role="alert"
                 hidden="@(message=="")">@message</div>
            </EditForm>
        </div>

    }


@code {
    [Parameter]
    public int Id { get; set; }

    private bool isSuccess = false;
    private string message = "";

    private List<ClientInformationReadDto> clientInformationReadDto = new List<ClientInformationReadDto>();
    private JobOrderUpdateDto jobOrderUpdateDto { get; set; } = new JobOrderUpdateDto();
    private JobOrderReadDto jobOrderReadDto { get; set; } = new JobOrderReadDto();
    private JobOrderChangeCreate jobOrderChangeCreate = new JobOrderChangeCreate();
    private ClientInformationReadDto clientInformationReadDtoSingle { get; set; } = new ClientInformationReadDto();

    protected override async Task OnInitializedAsync()
    {
        jobOrderReadDto = await jobOrderService.GetJobOrderByIdAsync(Id);
        _mapper.Map(jobOrderReadDto, jobOrderUpdateDto);
        var response = await clientInformationService.GetClientInformationsAsync("CompanyName", 0);
        clientInformationReadDto = response.ClientInformation;


    }

    public async void UpdateJobOrder()
    {


        //returns response message, so can check if success
        var response = await jobOrderService.EditJobOrderAsync(Id, jobOrderUpdateDto);
        if (response.IsSuccessStatusCode)
        {
            isSuccess = true;
            message = $"Success";
            toastService.ShowSuccess($" A job order from {jobOrderUpdateDto.CompanyName} is Edited.");
            //navigate to single page
            //perhaps set flag (success) there that will display message if coming from this page
            NavManager.NavigateTo("/joborder");
        }
        else {
            toastService.ShowError($" Error on editing {jobOrderUpdateDto.CompanyName} with ID {Id}.");
            message = $"Error: {response.StatusCode.ToString()}. Please try again.";

        }

        this.StateHasChanged();

    }

    private async Task ChangeOrder(ChangeEventArgs e)
    {

        clientInformationReadDtoSingle = await clientInformationService.GetClientInformationByIdAsync(Int32.Parse(e.Value.ToString()));
        _mapper.Map(clientInformationReadDtoSingle, jobOrderChangeCreate);
        _mapper.Map(jobOrderChangeCreate, jobOrderUpdateDto);
        message = "";
    }
}